/.phpunit.cache
/node_modules
/public/build
/vendor
/public/theme/public
!/public/theme/public/assets
!/public/theme/public/vendors
.env.backup
Homestead.json
Homestead.yaml
yarn-error.log
/.fleet
/.idea
/.vscode
