/.phpunit.cache
/node_modules
/public/build
/vendor
/public/theme/public/app
/public/theme/public/dashboard
/public/theme/public/demo
/public/theme/public/documentation
/public/theme/public/modules
/public/theme/public/pages
/public/theme/public/*.html
.env.backup
Homestead.json
Homestead.yaml
yarn-error.log
/.fleet
/.idea
/.vscode
